
body {
background-color: #51386b;
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* sets the height of the page to be the viewport height */
}
.container {

}
form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 50px auto;
width: 50%;
background-color: #f2f2f2;
padding: 20px;
border-radius: 10px;
}
.button {
text-align: center;
padding: 10px 20px;
background: linear-gradient(to left, #532a66, #c0a0cf);
color: #fff;
text-decoration: none;
border-radius: 5px;
}

div {
  display: block;
  text-align: center;
}

.button-hover {
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #665b2a, #1cac70);
  color: #fff;
text-decoration: none;
border-radius: 5px;
}
/* Style the input fields and button 
input[type="email"],
input[type="text"],
button[type="submit"] {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: none;
}

input[type="email"],
input[type="text"] {
background-color: #fff;
}

button[type="submit"] {
background-color: #471597;
color: #fff;
cursor: pointer;
}

button[type="submit"]:hover {
background-color: #c4a4e6;
}

/* Center the link */




.square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  pointer-events: none; /* Prevent the square from blocking the click event */
}

.projectile {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: yellow;
  border-radius: 50%;
  display: none;
}

a {
display: block;
margin-top: 20px;
text-align: center;
text-decoration: none;

}

.grow-on-hover {
  border-radius: 10px;
  animation: spin 7s linear infinite;
  transition: transform 0.2s ease-in-out;
}
.grow-on-hover.grow {
  transform: scale(1.1);
}


img {
  
  border-radius:10px;
animation: spin 7s linear infinite;
transition: transform 0.2s ease-in-out;
}

@keyframes spin {
0% {
transform: rotateY(0deg);
animation-timing-function: ease-in;
}
45% {
transform: rotateY(180deg);
animation-timing-function: ease-out;
}
95% {
transform: rotateY(360deg);
animation-timing-function: ease-in;
}
}
  
img:hover {
  transform: scale(1.1);
}
