
body {
background-color: #51386b;
display: flex;
justify-content: center;
align-items: center;
height: 100vh; /* sets the height of the page to be the viewport height */
}
.container {

}
form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 50px auto;
width: 50%;
background-color: #f2f2f2;
padding: 20px;
border-radius: 10px;
}
.button {
text-align: center;
padding: 10px 20px;
background: linear-gradient(to left, #532a66, #c0a0cf);
color: #fff;
text-decoration: none;
border-radius: 5px;

}

div {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button-hover {
  text-align: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #665b2a, #1cac70);
  color: #fff;
text-decoration: none;
border-radius: 5px;
}





button[type="submit"]:hover {
background-color: #c4a4e6;
}

/* Center the link */


@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}





.card {
  background: #191c29;
  max-width: 20%;
  height: auto;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a{
display: block;
color: #212534;
font-family: sans-serif;
font-weight: bold;
margin-top: 2rem;
text-align: center;
text-decoration: none;

}
img {
  

  max-width: min-content;
height: auto;
animation: spin 7s linear infinite;
transition: transform 0.2s ease-in-out;
}

@keyframes spin {
0% {
transform: rotateY(0deg);
animation-timing-function: ease-in;
}
45% {
transform: rotateY(180deg);
animation-timing-function: ease-out;
}
95% {
transform: rotateY(360deg);
animation-timing-function: ease-in;
}
}
  
